# Documentation on how to configure the bundle can be found at: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"

    default_filter_set_settings:
        format: webp

    resolvers:
        default:
            web_path:
                web_root: '%kernel.project_dir%/public'
                cache_prefix: /media/cache
    loaders:
        default:
            filesystem:
                data_root:
                    - '%kernel.project_dir%/assets/media/avatars'
                    - '%kernel.project_dir%/assets/media/posts'

    filter_sets:
        cache: ~

        # the name of the "filter set"
        avatar_thumb:

            # adjust the image quality to 75%
            quality: 75

            # list of transformations to apply (the "filters")
            filters:

                # create a thumbnail: set size to 120x90 and use the "outbound" mode
                # to crop the image when the size ratio of the input differs
                # thumbnail: { size: [128, 128], mode: outbound }
                thumbnail: { size: [128, 128] }

                # create a 2px black border: center the thumbnail on a black background
                # 4px larger to create a 2px border around the final image
                # background: { size: [132, 132], position: center, color: '#000000' }
