vich_uploader:
    db_driver: orm

    metadata:
        type: attribute

    mappings:
        avatars:
            uri_prefix: '/%avatars_dir%'
            upload_destination: '%public_dir%/%avatars_dir%'
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer
            #namer:
            #    service: Vich\UploaderBundle\Naming\PropertyNamer
            #    options: { property: 'pseudo'}

            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true

        posts:
            uri_prefix: '/%posts_dir%'
            upload_destination: '%public_dir%/%posts_dir%'
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer

            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true
