{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-end">
        <button type="submit" id="submit-form" class="btn btn-primary">{{ 'label.send' | trans }}</button>
    </div>
{{ form_end(form) }}
