{% if with_comments == true %}
<div class="comments mb-3">
    {% for postComment in post.postComments %}
        {% include 'partials/_post-comment-item.html.twig' with {'postComment': postComment} only %}   
    {% endfor %}
</div>
{% endif %}

<div class="comment-form mb-3 bg-rocher">
    {{ include('partials/_form.html.twig') }}
</div>