{% extends 'layer_center.html.twig' %}

{% block card_header %}
    <h1 class="text-center">{{ 'label.reset_password'|trans }}</h1>
{% endblock %}

{% block card_body %}
    {{ include('partials/_form.html.twig') }}
{% endblock %}

{% block card_footer %}
{% endblock %}
