# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: 'fr'
    app_name: 'Alamouriska'
    app_host: 'alamouriska.com'
    app_secret: '%env(APP_SECRET)%'
    app_notifier_email: 'app@alamouriska.com'
    app_notifier_name: 'Alamouriska App'
    mailer_user: 'app@alamouriska.com'
    mailer_from: 'app@alamouriska.com'
    full_domain: 'https://www.alamouriska.com'
    public_dir: '%kernel.project_dir%/public'
    avatars_dir: 'uploads/images/avatars'
    posts_dir: 'uploads/images/posts'
    pages_dir: 'uploads/images/pages'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Service\NavBuilder:
        #arguments: [ "@knp_menu.factory", "@doctrine.orm.entity_manager" ]
        arguments: [ "@knp_menu.factory" ]
        tags:
            - { name: knp_menu.menu_builder, method: mainMenu, alias: main }
            - { name: knp_menu.menu_builder, method: footerMenu, alias: footer }

    #App\EventListener\ExceptionListener:
    #    tags: [kernel.event_listener]
