:root {
    --bahra: #0B4B85; /* bahra : mer */
    --rocher: #0a4b85;
    --rocher-light: rgba(10, 75, 133, 0.5);
    --rmila: #853F0B; /* rmila : sable */
    --rmila-light: #774f31; /* rmila : sable */
}

body {
    color: var(--bs-white);
    background: var(--bahra);
    font-family: "Roboto Light", sans-serif;
}
textarea, input {
    border: inset !important;
    &:focus {
        outline: none !important;
    }
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
a, button {
    color: var(--bs-white) !important;
    border: none !important;
    text-decoration: none;
}
.navbar-brand span {
    display: inline-block;
    color: var(--bs-white);
    line-height: 1.2rem;
    vertical-align: middle;
    em {
        font-weight: bold;
    }
    small {
        font-size: 0.78rem;
    }
}
.user-container {
    text-align: center;
    margin: 0.25rem 0 0.25rem 0;
}
.navbar-toggler {
    background-color: var(--bs-white) !important;
}
.search-input {
    border-radius: 0.25rem 0 0 0.25rem !important;
    border: none !important;
}
.search-btn {
    border-radius: 0 0.25rem 0.25rem 0 !important;
    background-color: var(--rocher) !important;
}
.logo {
    border: 1px solid var(--bs-white);
}
.nav-item {
    margin: 2px;
    a {
        letter-spacing: 0.1rem;
        font-weight: bold;
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }
    &.current a, a:hover {
        background: var(--rocher);
        border-radius: 0.25rem;
    }
}
main {
    margin-top: 20px;
    min-height: 500px;
}
.main-footer {
    margin-top: 50px;
    min-height: 300px;
}
.btn-primary, .btn-secondary {
    text-transform:uppercase;
    color: var(--bs-white) !important;
    text-decoration: none !important;
    font-weight: bold;
}
.btn-primary {
    background-color: var(--rocher) !important;
    &:hover {
        background-color: var(--rocher-light) !important;
    }
}
.btn-secondary {
    background-color: var(--rmila);
    &:hover {
        background-color: var(--rmila-light) !important;
    }
}
.basic-icon {
    width: 1.5rem;
    height: 1.5rem;
    &.login-icon {
        width: 2.2rem;
        height: 2.2rem;
    }
}
.app-centered {
    width: 75%;
}

.bg-rocher {
    color: var(--bs-white) !important;
    background-color: var(--rocher-light);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar {
    .card {
        color: var(--bs-white) !important;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        a {
            margin-left: 0.5rem;
            color: var(--bs-white) !important;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.card {
    a {
        color: var(--rocher) !important;
        &.btn-primary, 
        &.btn-secondary,
        &.btn-danger {
            color: var(--bs-white) !important;
        }
    }
    .card-body {
        .card-list {
            border-bottom: rgba(255, 255, 255, 0.2) solid;
        }
    }
}


/*
.card {
    a {
        color: var(--dark-blue);
        text-decoration: none;
        &:hover {
            color: var(--light-blue);
            text-decoration: underline;
        }
    }
    &.card-post {
        background-color: var(--yellow);
        opacity: 0.9;
    }
    .card-header {
        position: relative;
        padding: 0.2rem 0.5rem;
        .post-type {
            position: absolute;
            right: 30px;
            top: -2px;
            background: var(--green);
            color: var(--bs-white);
            padding: 0.2rem 0.5rem;
            border-radius: 0 0 0.25rem 0.25rem;
        }
    }
    &.post-show {
        .card-body {
            padding: 0;
            .post-title {
                padding: 1rem;
            }
            .post-image {
                background: var(--bs-gray);
                text-align: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    .card-body {
        #post {
            > div:not(.text-end), > fieldset {
                padding: 0.5rem;
                background-color: var(--mid-grey);
                border-radius: 0.25rem;
            }
        }
    }
}
*/

.avatar-fieldset {
    background-color: var(--bs-white);
    padding: 0 1rem;
    border-radius: 0.24rem;
    .help-text {
        color: var(--bs-gray) !important;
    }
}
.card-post-image {
    img {
        width: 100%;
    }   
}
.help-text {
    text-align: right;
    font-size: 1em;
    color: var(--bs-white);
}

.vich-image {
    img {
        margin-top: 10px;
        width: 128px;
        height: 128px;
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .navbar-brand span {
        display: none;
    }
    body {
        background: var(--bahra) url("../images/bg-main.jpg") no-repeat fixed;
        background-size: cover;
    }
    .app-centered {
        width: 60%;
    }
    .user-container {
        margin-left: 1rem;
    }
}
