:root {
    --la-pointe: #1372aa;
    --rocher: #0a4b85; /* rgb(10, 75, 133); */
    --rocher-light: rgba(10, 75, 133, 0.5);
    --bg-moudja: rgba(255, 255, 255, 0.15);
    --border-moudja: 1px solid rgba(255, 255, 255, 0.2);
}
body {
    color: var(--bs-white);
    background: var(--la-pointe);
    font-family: "Roboto Light", sans-serif;
}
textarea, input {
    border: inset !important;
    &:focus {
        outline: none !important;
    }
}
h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: var(--bs-yellow);
    &:hover {
       text-decoration: underline;
       text-underline-offset: 0.125em;
    }
}
button {
    border: none !important;
    color: var(--bs-white);
    background: transparent;
}
.footer-nav li {
    a {
        color: var(--bs-white);
    }
    &.current a {
        text-decoration: underline;
    }
}
nav.navbar {
    background-color: var(--rocher);
    .navbar-brand span {
        display: inline-block;
        line-height: 1.2rem;
        vertical-align: middle;
        small {
            font-size: 0.78rem;
        }
    }
    .navbar-toggler {
        background-color: var(--bs-white) !important;
    }
}

.search-input {
    border-radius: 0.25rem 0 0 0.25rem !important;
    border: none !important;
}
.search-btn {
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: var(--rocher);
    color: var(--bs-white);
    &:hover {
        background-color: var(--rocher);
    }
}
.top-nav-user {
    padding-top: 2px;
    img {
        vertical-align: text-top;
    }
}
.logo {
    border: 3px solid rgba(255, 193, 7, 0.6);
    box-shadow: 0 0 20px 10px rgba(255, 193, 7, 0.6);
    animation: sunPulse 5s infinite ease-in-out;
}
.nav-item {
    margin: 2px;
    a {
        color: var(--bs-white);
        letter-spacing: 0.1rem;
        font-weight: bold;
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }
    &.current a, a:hover {
        color: inherit;
        background: var(--rocher);
        border-radius: 0.25rem;
        text-decoration: none;
    }
}
main {
    margin-top: 20px;
    min-height: 500px;
}
.pagination {
    a {
        color: var(--rocher);
    }
    li.active .page-link {
        background-color: var(--rocher);
    }
}
.main-footer {
    margin-top: 50px;
    min-height: 180px;
    border-top: var(--border-moudja);
    background-color: var(--bg-moudja);
}

.basic-icon {
    width: 1.5rem;
    height: 1.5rem;
    &.login-icon {
        width: 2.2rem;
        height: 2.2rem;
        color: var(--bs-white);
    }
}
.app-centered {
    width: 75%;
}

/* CARDS  */
.card {
    a:not(.btn) {
        color: var(--rocher) !important;
    }
    &.bg-rocher {
        color: var(--bs-white) !important;
        background-color: var(--rocher-light);
        border: var(--border-moudja);
        a:not(.btn) {
            color: var(--bs-white) !important;
            &:hover {
                text-decoration: underline;
            }
            &.text-yellow {
                color: var(--bs-yellow) !important;
                font-weight: bold;
                text-underline-offset: 0.250em;
            }
        }
        .card-header {
            background-color: var(--rocher);
        }
        .card-body {
            .card-list {
                border-bottom: var(--border-moudja);
                a {
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &.bg-moudja {
        color: var(--bs-white) !important;
        background-color: var(--bg-moudja);
        border-top: var(--border-moudja);
        a {
            color: var(--bs-yellow) !important;
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

.btn-primary {
    background-color: var(--rocher) !important;
    &:hover {
        background-color: var(--rocher) !important;
        opacity: 0.9;
    }
}
.btn-secondary {
    background-color: var(--bs-yellow);
    color: var(--rocher) !important;
    &:hover {
        background-color: var(--bs-yellow);
        opacity: 0.9;
    }
}

.btn-primary,
.btn-secondary,
.btn-danger,
.btn-warning,
.btn-dark {
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: bold;
}

/* Symfony errors */
.invalid-feedback {
    background-color: var(--bs-red);
    color: var(--bs-white);
    padding: 0.5rem;
}
.btn-likes {
    color: var(--rocher);
    background-color: transparent;
    margin-right: 0.1rem;
    &:hover {
        background-color: var(--bs-gray-400);
    }
}
.bg-gray-300 {
    background-color: var(--bs-gray-300);
}
.card-post-image {
    img {
        width: 100%;
    }   
}
.help-text {
    font-size: 1em;
    color: var(--bs-white);
}
.vich-image {
    img {
        margin-top: 10px;
        width: 128px;
        height: 128px;
    }
}
.cloud-marquee {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  .cloud-track {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
    font-size: 2rem;
    }
}
.white-hr {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  &::before, &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--bs-white);
  }
  &:not(:empty)::before {
    margin-right: 0.5em;
  }
  &:not(:empty)::after {
    margin-left: 0.5em;
  }
}
.slide-toggle {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
    &.open {
        max-height: 500px; /* adjust to fit your form */
    }
}

/* POST */
.post-features {
    background-color: var(--bs-gray-400);
    display: inline-block;
    position: relative;
    top: -9px;
    text-align: center;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    nav.navbar {
        background-color: transparent;
        .navbar-brand span {
            display: none;
        }
    }
    body {
        background: var(--rocher) url("../images/bg-2-chameaux.jpg") no-repeat fixed;
        background-size: cover;
    }
    .app-centered {
        width: 60%;
    }
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes sunPulse {
  0%, 100% {
    box-shadow: 0 0 20px 10px rgba(255, 193, 7, 0.6);
  }
  50% {
    box-shadow: 0 0 40px 20px rgba(255, 193, 7, 0.9);
  }
}
