{% extends 'email.html.twig' %}

{% block header %}
    Bonjour {{ receiver}}, tu as un message de: 
    <a href="{{ url('app_frontend_member_profile', {'pseudo': sender }) }}" target="_blank">{{ sender }}</a>
{% endblock %}

{% block body %}
    <p style="padding:10px; background-color:#ddd">{{ message }}</p>
{% endblock %}
