{% extends 'email.html.twig' %}

{% block header %}Bonjour!{% endblock %}

{% block body %}
    <p>Pour changer ton mot de passe, merci de cliquer sur le lien suivant: <br>
        {% set link = url('app_forgot_password_reset', {token: resetToken.token}) %}
        <a href="{{ link }}">{{ link }}</a>
    </p>
    <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
{% endblock %}