{% extends 'email.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <p>
    Bonjour,<br><br>
    <a href="{{ url('app_frontend_member_profile', {'pseudo': commentator }) }}" target="_blank">{{ commentator }}</a>
    a ajouté un commentaire sur la publication que tu suis : 
    <a href="{{ entityUrl }}" target="_blank">{{ 'label.see_post' | trans }}</a>
    </p>
{% endblock %}
