{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col">
        <div class="card bg-aqua app-centered mx-auto shadow-sm">
            <div class="card-header">
                {% block card_header %}{% endblock %}
            </div>
            <div class="card-body">
                {% block card_body %}{% endblock %}
            </div>
            {% block card_footer %}
            <div class="card-footer">
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
