{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'post.label.create' | trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1>{{ 'post.label.create' | trans }}</h1>
{% endblock %}

{% block card_body %}
    <div class="mb-3">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}

{% block card_footer %}
{% endblock %}
